@media all {
    :root {
        color-scheme: light dark;
        --font-size-h1: 3rem;
        --font-size-h2: 2.5rem;
        --font-size-h3: 2.25rem;
        --font-size-h4: 2rem;
        --font-size-x-large: 1.5rem;
        --font-size-large: 1.2rem;
        --font-size-medium: 16px;
        --font-size-small: 0.9rem;
        --font-size-x-small: 0.8rem;
        --line-height-default: 1.25;
        --line-height-comfortable: 1.5;
        --font-family-sans-serif: sans-serif;
        --font-family-monospace: monospace;
        --border-width: 1px;
        --page-padding: 2rem;
        --button-border-radius: 0.25rem;
        --button-padding: 0.375rem 0.75rem;
        --card-border-radius: 0.75rem;
        --card-padding: 0.5rem 1rem;
    }
}
@media all {
    :root {
        --application-foreground-color: #241f31;
        --application-background-color: #f6f5f4;
        --application-border-color: 0, 0, 0;
        --secondary-foreground-color: #000;
        --secondary-background-color: #fff;
        --secondary-border-color: #deddda;
        --focus-foreground-color: #000;
        --focus-background-color: #e3a0e3;
        --focus-border-color: #c061cb;
        --focus-link-text-color: #573076;
        --focus-title-text-color: #77767b;
        --full-focus-background-color: #dc8add;
        --link-text-color: #9141ac;
        --blue-button-background-color: #c3dbf7;
        --blue-button-foreground-color: #0a55b0;
        --blue-button-border-color: #0a55b0;
        --red-button-background-color: #f9a096;
        --red-button-foreground-color: #a51d2d;
        --red-button-border-color: #a51d2d;
    }
}
@media screen and (prefers-color-scheme: dark) {
    :root {
        --application-foreground-color: #fff;
        --application-background-color: #241f31;
        --application-border-color: 255, 255, 255;
        --secondary-foreground-color: #fff;
        --secondary-background-color: #3d3846;
        --secondary-border-color: #5e5c64;
        --focus-foreground-color: #fff;
        --focus-background-color: #4d2a68;
        --focus-border-color: #9141ac;
        --focus-link-text-color: #fff;
        --focus-title-text-color: #c0bfbc;
        --full-focus-background-color: #9141ac;
        --link-text-color: #dc8add;
        --blue-button-background-color: #1c71d8;
        --blue-button-foreground-color: #fff;
        --blue-button-border-color: #99c1f1;
        --red-button-background-color: #e01b24;
        --red-button-foreground-color: #fff;
        --red-button-border-color: #f66151;
    }
}

html {
    font-size: var(--font-size-medium);
    height: 100vh;
}

.navbar {
    position: sticky;
}

.list-group-item,
.well,
.panel,
.panel-heading,
.modal-content,
.bootstrap-datetimepicker-widget,
.dropdown-menu,
.dropdown-menu a,
#header {
    background-color: var(--secondary-background-color) !important;
    color: var(--secondary-foreground-color) !important;
    border-color: var(--secondary-border-color) !important;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    color: var(--focus-link-text-color);
    background-color: var(--focus-background-color);
    border: var(--border-width) solid var(--focus-border-color);
}

.nav.nav-tabs {
    border-color: var(--secondary-border-color);
}

.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus,
.nav > li > a:hover,
.nav > li > a:focus {
    background-color: var(--secondary-background-color);
    color: var(--link-text-color);
    border-color: var(--secondary-border-color);
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    background-color: var(--secondary-background-color);
    color: var(--secondary-foreground-color);
    border-color: var(--secondary-border-color);
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: var(--application-background-color);
    color: var(--application-foreground-color);
    font-family: var(--font-family-sans-serif);
}

#footer {
    background-color: var(--application-background-color);
    position: initial;
}

#chart-1,
#chart-2,
#chart-3,
#chart-4,
#chart-5,
#chart-6,
#chart-7,
#chart-8,
#chart-9,
#chart-10,
#chart-11,
#chart-12,
#abstract-count,
legend {
    color: var(--secondary-foreground-color) !important;
}

a,
a:hover,
a:focus,
.btn-link,
.btn-link:hover,
.btn-link:focus {
    color: var(--link-text-color);
    cursor: pointer;
}

.btn-default,
.btn-default:hover,
.btn-default:focus {
    border-radius: var(--button-border-radius);
    padding: var(--button-padding);
    text-decoration: none;
    font-size: var(--font-size-x-small);
    color: var(--focus-link-text-color);
    background-color: var(--focus-background-color);
    border: var(--border-width) solid var(--focus-border-color);
}

.table-striped > tbody > tr:nth-of-type(2n + 1),
table.datatable > tbody > tr:nth-of-type(2n + 1),
.table-hover > tbody > tr:hover,
table.datatable > tbody > tr:hover {
    background-color: var(--secondary-background-color);
}
.table-bordered > thead > tr > th,
table.datatable > thead > tr > th,
.table-bordered > thead > tr > td,
table.datatable > thead > tr > td,
.table-bordered > tbody > tr > th,
table.datatable > tbody > tr > th,
.table-bordered > tbody > tr > td,
table.datatable > tbody > tr > td,
.table-bordered > tfoot > tr > th,
table.datatable > tfoot > tr > th,
.table-bordered > tfoot > tr > td,
table.datatable > tfoot > tr > td {
    border-color: var(--secondary-border-color);
}

.md-input,
.md-preview {
    color: black;
}

.navbar-brand {
    padding: 0;
}

.table .table, table.datatable .table, .table table.datatable, table.datatable table.datatable {
  background: initial;
}
